<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-right" id="navbar-collapsible-content">
  <ul class="nav navbar-nav ">
  	<%= render 'layouts/navigation/collapsible_elements/constant_links' %>
    <%= render collapsible_links_partial_path %>
  </ul>
</div><!-- navbar-collapse -->